//- Product

mixin product(title, price, text, s, room, bath, location, img, imgW, imgH)
	// Product
	.unit.unit-sm-horizontal.unit-md-vertical.unit-lg-horizontal.product-list.text-sm-left
		.unit-left
			.thumbnail-variant-1
				a(href='property.html').reveal-inline-block
					img(src=img width=imgW height=imgH alt='').img-responsive.center-block
				.caption
					a(href='search.html').label-lg.label.label-primary Rent
		.unit-body
			h5
				a(href='property.html').text-base=title
			.h5.text-primary=price
			p.offset-top-20=text

			.offset-top-20
				span.inset-right-20
					img(src='images/icon-05.png' alt='')
					span.small=' '
						=s

				span.inset-right-20
					img(src='images/icon-04.png' alt='')
					span.small=' '
						=room

				span
					img(src='images/icon-06.png' alt='')
					span.small=' '
						=bath
			hr
			p.reveal-inline-flex.range-middle
				span.inset-right-10.icon.mdi.mdi-map-marker.text-primary.text-middle
				span.text-middle.small=location
			.offset-top-20
				a(href='property.html').btn.btn-primary read more


//- Product list
mixin product-list(title, price, text, s, room, bath, location, img, imgW, imgH)
	// Product
	.unit.product-list.text-sm-left
		.unit-left
			.thumbnail-variant-1
				a(href='property.html').reveal-inline-block
					img(src=img width=imgW height=imgH alt='').img-responsive.center-block
				.caption
					a(href='search.html').label-lg.label.label-primary Rent
		.unit-body
			.small
				span.inset-right-20
					img(src='images/icon-05.png' alt='')
					span.small=' '
					=s

				span.inset-right-20
					img(src='images/icon-04.png' alt='')
					span.small=' '
					=room

				span
					img(src='images/icon-06.png' alt='')
					span.small=' '
					=bath

			hr

			h5
				a(href='property.html').text-base=title
			.h5.text-primary=price
			p.offset-top-20=text

			hr
			p.reveal-inline-flex.range-middle.text-left
				span.inset-right-10.icon.mdi.mdi-map-marker.text-primary.text-middle
				span.text-middle.small=location
			.offset-top-20
				a(href='property.html').btn.btn-primary read more