//- Thumbnail

mixin thumbnail(title, author, img, imgW, imgH)
	// Thumbnail
	.thumbnail
		img(src=img width=imgW height=imgH alt='').img-responsive.center-block
		.caption
			.caption-inner
				h3
					a(href='project-single.html')=title
				p
					a(href='#')=author
			div
				a(href='project-single.html').btn